 


 .nav-container{
    background-color: #131313;
    /* width:100px; */
    height:100vh;
    transition: width ease-in-out 1s;
    padding: 15px 20px;
/* width: 300px; */
 }


 .nav-item{
    /* width: 250px; */
    overflow: hidden;
padding: 12px 0px;
    background-color: #5C31FF;
    transition: width ease-in-out 0.5s;
 }

 .nav-item:hover{
    background-color:#272727 ;
    
 }


 .toggle-arrow{
    background-color: #5C31FF;
width: 25px;
height: 25px; 
border-radius: 100%;

 }